/*********************************************************************************/
/**                                  BEGIN LOGIN                                **/
/*********************************************************************************/

/*----------------------- BEGIN class container-login ------------------------*/
.container-login {
    display: grid;
    grid-template-rows: 200px 360px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "login-title" "login-form" "login-footer";
    height: 100vh;
    padding: 30px 0;
    text-align: center;
}

@media screen and (min-width: 900px) {
    
    .container-login {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 350px 200px;
        grid-template-areas: "login-title login-form" "none login-footer";
        height: 75vh;
        padding: 200px 50px;
    }
}

@media screen and (min-width: 1450px) {
    .container-login {
        grid-template-columns: 600px 400px;
        justify-content: center;
        align-content: center;
    }
}
/*----------------------- END class container-login ------------------------*/


/*--------------------- BEGIN class login-title ------------------------*/
.login-title {
   grid-area: login-title;
   padding: 0 20px;
}

.login-title h1 {
    font-size: 4rem;
    color: #1877f2;
    margin: 15px;
}

.login-title p {
    font-size: 1.5rem;
}

@media screen and (min-width: 900px) {
    
    .login-title {
        text-align: left;
    }
}
/*----------------------- END class login-title ------------------------*/


/*---------------------- BEGIN class login-form ----------------------*/
.login-form {
    grid-area: login-form;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 20%);
    border-radius: 5px;
    margin: 0 auto;
    max-width: 400px;
    min-width: 320px;
 }

 .login-form .form .form-row {
    margin: 15px 0;
 }

 .login-form .form .form-row input {
    height: 50px;
    width: 90%;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    padding: 0 8px;
    box-sizing: border-box;
 }

 .login-form .form .form-row input:focus {
    outline: 1px solid #1877f2;
 }

 .login-form .form .form-btn .btn-login-submit {
    background-color: #1877f2;
    color: #fff;
    width: 90%;
 }

 .login-form .form .form-info-forgot-password a {
    color: #1877f2;
 }

 .login-form .form .form-divided {
    border: 1px solid #dadde1;
    width: 90%;
    margin: 20px auto;
 }

 .login-form .form .form-btn .btn-login-create-account {
    background-color: #42b72a;
    color: #fff;
 }

 
/*---------------------- END class login-form ----------------------*/


/*---------------------- BEGIN class login-footer ----------------------*/
.login-footer {
    grid-area: login-footer;
    width: 320px;
    margin: 0 auto;
    padding-top: 10px;
 }

 .login-footer p a {
    color: #000;
    font-weight: 700;
 }
/*---------------------- END class login-footer ----------------------*/

/*********************************************************************************/
/**                                  END LOGIN                                  **/
/*********************************************************************************/